.menu-izquierda {
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 2rem 10%;

}

.menu-izquierda-all {
    background-color: #CD5C5C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.menu-link {
    text-decoration: none;
    color: white;
}



.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.img-logo {
    border-radius: 50%;
    padding-top: 1rem;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.img-logo:hover {
    transform: scale(1.1);
    z-index: 1;
}


.submenu {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
  }
  
  .menu-link {
    display: block;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .menu-link:hover {
    color: yellow;
  }
  