.menu-derecha {
    background-color: #B22222;
    color:white;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 2rem 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.principal-derecha {
    display: flex;
    flex-direction: column;
}

.menu-link {
    text-decoration: none;
}

.img-perfil {
    border-radius: 50%;
    padding-top: 1rem;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.img-perfil:hover {
    transform: scale(1.2);
    z-index: 1;
}


