.viewer-container {
    width: 100%;
    height: 700px;
    border-radius: 5px;
    overflow: hidden; /* Oculta los bordes cuadrados del embed */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
;
  }
  
  .viewer {
    width: 100%;
    height: 100%;
  }
  